$color-paper: #ffffff;
$color-text: #00214d;
$color-gray: #888888;

$color-border: #dadada;

$color-main: #ff5470;
$color-lime: #00ebc7;

$hover-color: rgba(0, 0, 0, 0.1);
$hover-transition: background-color 0.2s ease;

$z-index-modal: 100;
